body {
    background-image: url(http://www.publicdomainpictures.net/pictures/170000/velka/grunge-background-1463562030jvk.jpg);
    text-align: center; 
    color: rgba(199, 203, 252, 0.76);
}
header {
max-width: 100%;
font-family: 'Roboto Slab', serif;
font-size: 40px;
background-color:rgba(188, 170, 189, 0.25);

}
h2 {
    text-align: center;
    font-size: 30px;
}
ul {
    font-size: 30px;
    list-style-type: disc;
    list-style-position: inside;
}
footer {
    font-size: 15px;
    background-color:rgba(188, 170, 189, 0.25);
    max-width: 33%
  }
ol {
    font-size: 15px;
    list-style-type: decimal;
    text-align: left;
    list-style-position: inside;
    float: left;
    max-width: 33
}
